.admin {
	&-header {
		.navbar-toggler-zaiko {
			position: absolute;
		}

		+ .container-fluid {
			flex: 1 0 auto;
		}
	}

	&-profile {
		position: relative;

		&-img {
			border-radius: 5px;
			height: 35px;
		}
		&-name {
			font-weight: 300;
			color: white;
		}
	}

	&-navbar {
		hr {
			border-color: #333333;
		}
		&--bg {
			background: #1b1b28;
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
		}
		> ul {

			> li {
				@include media-breakpoint-down(lg) {
					> a {
						&:not(.btn) { 	
							padding: 10px 0;
							font-size: 1rem;
							display: block;
						}
					}
				}

				@include media-breakpoint-up(lg) {
					display: inline-block;
					position: relative;
					margin-left: 20px;

					&:hover {
						.sub-menu {
							opacity: 1;
							visibility: visible;
						}
					}

					> a {
						color: #888888;

						&:hover {
							color: white;
						}
					}
				}

				.sub-menu {
					@include media-breakpoint-up(lg) { 	
						visibility: hidden;
						opacity: 0;
						position: absolute;
						background: white;
						margin-top: 1rem;
						border-radius: 0.25rem;
						top: 21px;
						min-width: 200px;
						left: 0;
						z-index: 999;
						box-shadow: 0px 2px 10px -3px rgba(0,0,0,0.15);
						@include transition(200ms);

						&.dropdown-menu {
							display: block;
						}

						&.right {
							right: 0;
							left: auto;
						}

						li {
							white-space: nowrap;
							display: block;
							color: white;
							padding: 0.5rem 0;

							&.text-lg-nowrap {
								> a > span {
									display: none;
								}
							}

							&:hover {
								background: $light-grey;
							}

							> a, > span {
								padding: 0.5rem 1.5rem;
								color: $dark-grey;
							}
						}
					}
					@include media-breakpoint-down(md) {
						&:not(.sub-menu--user) {

							> li {
								> a {
									font-size: 1rem;

									padding: 10px 0 10px 20px;
									display: block;
									color: #888888; 

									&:hover {
										color: white;
									}
								}
							}
						}
						&.sub-menu--user {
							> li {
								> a, > span {
									padding: 10px 0;
									margin-bottom: 0;
									display: block;
								}
							}
						}
					}


				} 
			}
		}
	}

	&-main {
		overflow-x: hidden;
		background: $bg-admin;
		width: 100%;

		.table-responsive {
			box-shadow: 0px 2px 10px -3px rgba(0,0,0,0.15);			
		}

		table {
			font-size: 12px;

			&.table-md {
				font-size: inherit;
			}
		}
	}

	&-aside, &-microsite {
		-webkit-transition: margin 200ms, height 200ms;
		-o-transition: margin 200ms, height 200ms;
		transition: margin 200ms, height 200ms;
		background: #2a2a33;

		
		&:not(.microsite) {

			&.collapsing {
				@include media-breakpoint-up(lg) {
					height: inherit!important;
				}
				overflow: visible;
				position: unset;
			}

			@include media-breakpoint-down(md) {
				width: 100%;
			}

			&.collapse {
				@include media-breakpoint-up(lg) {
					margin-right: -265px;
					display: block;
				}

				&:not(.show) {
					.typcn {
						z-index: -1;
					}
				}
			}

			&.show {
				margin-right: 0;
			}

		}

		> ul {
			&:not(.microsite) {
				@include media-breakpoint-up(lg) {
					width: 265px;
				}
			}

			> li {
				cursor: pointer;

				.typcn {
					@include transition(200ms);
				}

				&.collapsed {
					.typcn {
						&-chevron-right {
							-webkit-transform: rotate(0deg);
							transform: rotate(0deg);
						}
					}
				}

				&:not(.collapsed) {
					.typcn {
						&-chevron-right {
							-webkit-transform: rotate(90deg);
							transform: rotate(90deg);
						}
					}
				}

				a {
					color: white;
					&:hover {
						background: $light-grey;
						color: $dark-grey;
					}
				}
				> a, > span {
					color: white;
					font-weight: 500;
					display: block;
					padding: 10px 0;
				}

				> .sub-menu {
					display: block;
					padding: 8px;
					padding-left: 40px;
					color: #888888;
					font-weight: normal;

					&:hover {
						color: $dark-grey;
					}
				}
			}
		}
	}
}

@include media-breakpoint-down(lg) {

	header {
		.admin-navbar {
			.menu-right {
				> * {
					&:last-child {
						font-size: 1rem;
						margin-right: 0;
					}
				}
			}

			.dropdown-lang {
				span {
					&[aria-expanded="true"]{
						+ ul {
							display: block;
						}
					}
				}
			}
		}
	}
}

@include media-breakpoint-down(md) {
	.btn-login {
		margin-bottom: 1rem;
	}
}

.grid-item {
	width: 50%;
}