.faq {
	&--buttons {
		text-align: center;
		background: #f4f5f8;
		padding: 3rem;

		.card {
			padding: 1.5rem;
			color: $dark-grey;
			background: white;
			border-radius: 8px;
			-webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,.05);
			box-shadow: 0 2px 8px 0 rgba(0,0,0,.05);
			@include transition(200ms);
			transform: scale(1);

			&:hover {
				box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
				transform: scale(1.03);
			}

			span {
				font-size: 1.5rem;
			}
		}
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: absolute;
		width: 100%;
		padding: 20px;
	}

	&__banner {
		background: linear-gradient(to right bottom, $zk-grad);
		color: white;

		.text-block {
			padding: 50px 0 20px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 100%;
		}
	}

	&__btn {
		font-family: $heading;
		@include transition(200ms);
		color: white;
		border-radius: 25px;
		padding: 15px 25px;
		font-size: 1.2rem;
		text-align: center;

		&:hover, &:focus, &:active {
			text-decoration: none;
			opacity: 0.8;
			-moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
			-webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
			box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
		}

		&-group {
			background: #fcfcfc;
		}

	}

	// Sidebar

	&__sidebar {

		form {
			margin-bottom: 2rem;
		}

		.question {
			margin-bottom: 1rem;
			position: relative;
		}

		.heading {
			font-weight: 500;
			font-size: 1.1rem;
			margin-bottom: 1rem;
			cursor: pointer;
			display: block;
			@include hover-state(0.6, 1);
		}
		
		.list-group {
			&-item {
				opacity: 0.8;
				border: none;
				border-radius: 0;
				padding-left: 3rem;
				color: $dark-grey;
				
				&.active {
					background: none;
				}

				&:hover, 
				&:focus, 
				&:active 
				{
					color: white;
					background: $zk-blue;
					opacity: 1;
				}
			}
		}

		.collapse {
			a {
				font-weight: normal;	
			}
		}
		
	}
	
	// Main Content
	&__content {
		font-size: 1.1rem;
		padding-top: 2rem;
		padding-bottom: 2rem;

		.heading {
			&:before {
				content: "";
				display: block;
				height: 50px;
				margin: -50px 0 0;
			}
		}

		.text-block {
			margin-bottom: 5rem;

			&:before {
				content: "";
				display: block;
				height: 50px;
				margin: -50px 0 0;
			}

			&:first-child {
				&:before {
					margin-top: 0;
				}
			}

			ol {
				li {
					list-style: decimal;
				}
			}

			ul {
				li {
					list-style: disc;
				}
			}
		}

		.heading, .subheading  {
			position: relative;
			margin-bottom: 2rem;
		}

		.heading {
			&:after {
				position: absolute;
				left: 0;
				bottom: -2.5rem;
				display: block;
				width: 65px;
				height: 5px;
				margin: auto;
				background: linear-gradient(to right bottom, $zk-grad);
				content: "";
			}
		}

		li {
			margin-bottom: 1.2rem;
		}
	}
}

.img {

	&-faq {
		padding: 0;
		border: 5px solid $light-grey;
		margin: 2rem 0;
		&-icon {
			width: 100px;
			margin: 0 auto;
		}
		&-text {
			margin-top: 1rem;
		}
	}	
}

.back-to-top {
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid $light-grey;
	text-align: right;
	
	.btn {
		background: $zk-blue;
	}

	i {
		padding-left: 10px;
	}
}

// RESPONSIVE

// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-only(xs) { 
	ol {
		padding-inline-start: $padding-xs;
	}
	.faq {
		&--buttons {
			padding: 15px;
		}

		&__banner {
			.card {
				height: 150px;
			}

			h1, h4 {
				font-size: 1.5rem;
			}

			i {
				font-size: 3rem;
			}
		}
	}
}

@include media-breakpoint-up(xs) { 
	.faq {
		&__sidebar {
			padding-top: 2rem;
			padding-bottom: 2rem;
		}
	}
}

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) { 

}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) { 
	
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) { 

	.faq {
		&__sidebar {
			padding: 5rem 2rem;
		}
		&__content {
			padding: 5rem 15rem;
		}
	}

	.img {
		&-faq {
			&-text {
				font-size: 1.5rem;

			}
		}
	}

	.faq {
		&__sidebar {
			position: sticky;
			position: -webkit-sticky; 
			top: 0;
			height: calc(100vh - 0rem);
			bottom: 0;
			left: 0;
			z-index: 100;
			border-right: 1px solid rgba(0,0,0,.1);
			overflow-y: scroll;

			> ul {
				padding: 0 2rem;
			}
		}
	}
}

// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) { 

}
