@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat-Light.eot'); /* IE9 Compat Modes */
	src: url('/fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('/fonts/Montserrat-Light.woff') format('woff'), /* Modern Browsers */
	url('/fonts/Montserrat-Light.ttf') format('truetype'), /* Safari, Android, iOS */
	url('/fonts/Montserrat-Light.svg') format('svg'); /* Legacy iOS */  
	font-weight: 300;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat.eot'); /* IE9 Compat Modes */
	src: url('/fonts/Montserrat.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('/fonts/Montserrat.woff') format('woff'), /* Modern Browsers */
	url('/fonts/Montserrat.ttf') format('truetype'), /* Safari, Android, iOS */
	url('/fonts/Montserrat.svg') format('svg'); /* Legacy iOS */  
	font-weight: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat-SemiBold.eot'); /* IE9 Compat Modes */
	src: url('/fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('/fonts/Montserrat-SemiBold.woff') format('woff'), /* Modern Browsers */
	url('/fonts/Montserrat-SemiBold.ttf') format('truetype'), /* Safari, Android, iOS */
	url('/fonts/Montserrat-SemiBold.svg') format('svg'); /* Legacy iOS */  
	font-weight: bold;
}

@font-face {
	font-family: 'Gotham';
	src: url('/fonts/Gotham-Bold.eot'); /* IE9 Compat Modes */
	src: url('/fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('/fonts/Gotham-Bold.woff') format('woff'), /* Modern Browsers */
	url('/fonts/Gotham-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
	url('/fonts/Gotham-Bold.svg') format('svg'); /* Legacy iOS */  
	font-weight: bold;
}

@font-face {
	font-family: 'Gotham';
	src: url('/fonts/Gotham-Medium.eot'); /* IE9 Compat Modes */
	src: url('/fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('/fonts/Gotham-Medium.woff') format('woff'), /* Modern Browsers */
	url('/fonts/Gotham-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
	url('/fonts/Gotham-Medium.svg') format('svg'); /* Legacy iOS */  
	font-weight: 500;
}

@font-face {
	font-family: 'Gotham';
	src: url('/fonts/Gotham-Book.eot'); /* IE9 Compat Modes */
	src: url('/fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('/fonts/Gotham-Book.woff') format('woff'), /* Modern Browsers */
	url('/fonts/Gotham-Book.ttf') format('truetype'), /* Safari, Android, iOS */
	url('/fonts/Gotham-Book.svg') format('svg'); /* Legacy iOS */  
	font-weight: normal;
}