input[type="date"] {
	min-height: 50px;
}

.form-control, .custom-select {
	height: 50px;
	padding: 1rem 0.8rem;
	background-image: none;
	border-color: #e4e4e4;

	&-filter {
		padding:.375rem .75rem;
		color: #333;
		border: 1px solid #ababab;
	}

	&.form-code {
		text-align: center;
	}

	&::placeholder {
		color: $med-grey;
	}

	option {
		padding: 1.5rem 0.8rem;
	}
}

.form-code {
	input {
		text-align: center;
		font-size: 120%;
		letter-spacing: 5px;
	}
}


textarea.form-control {
	padding: 0.8rem;
}

select.form-control, iput {
	height: 50px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
}

.hint {
	margin-top: 0.5rem;
	font-style: italic;
}

.errors {
	left: 0;
	margin-top: 0.25rem;
	font-size: 80%;
	color: #dc3545;

	.field-checkbox & {
		margin-top: 1.5rem;
	}
}

.form-group {
	&.required {
		label, legend {
			&:after {
				content: "*";
				font-weight: 400;
				color: red;
				font-size: 1em;
			}
		}
	}

	#guestadmin &, #guest-admin &, .guestadmin &, .guest-admin & {
	}

	&.field-checkbox {
		display: flex;
		flex-wrap: wrap;

		label {
			order: 1;
			padding-left: 10px;
		}

		.errors {
			left: inherit;
			position: absolute;
		}
	}

	.wrapper {
		position: relative;
	}
}

.autocomplete {
	position: relative;
	display: inline-block;

	&-items {
		position: absolute;
		border: 1px solid #ced4da;
		border-bottom: none;
		border-top: none;
		z-index: 99;
		top: 100%;
		left: 0;
		right: 0;

		.d-flex {
			padding: 10px;
			cursor: pointer;
			background-color: white;
			color: black;
			border-bottom: 1px solid $light-grey;

			&:hover, &.autocomplete-active {
				background-color: $light-grey;
			}

			img {
				padding-right: 10px;
			}
		}

		> div {
			padding: 10px;
		}
		

	}
}

.input-group {
	&.vue-form-generator {

		.fieldset-listing {
			position: relative;
			flex: 1 1 auto;
			width: 1%;
			margin-bottom: 0;
		}

		.form-listing {
			margin-bottom: 0;
			
			.form-control {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				height: 50px;
			}
		}

		>.input-group-append { 
			input {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				height: 50px;
			}
		}
	}
}

/* custom checkbox and radio buttons */

.checkbox {
	padding-left: 5px;

	label {
		display: inline-block;
		vertical-align: middle;
		position: relative;
		padding-left: 5px;

		&:before {
			content: "";
			display: inline-block;
			position: absolute;
			width: 17px;
			height: 17px;
			left: 0;
			top: 2px;
			margin-left: -20px;
			border: 2px solid #cccccc;
			border-radius: 0;
			background-color: #fff;
			-webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
			-o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
			transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
		}

		&:after {
			display: inline-block;
			position: absolute;
			width: 16px;
			height: 16px;
			left: 0;
			top: 0;
			margin-left: -20px;
			padding-left: 4px;
			margin-top: -3px;
			font-size: 16px;
			color: #555555;
		}
	}

	input[type="checkbox"] {
		opacity: 0;
		z-index: 1;

		&:focus {
			+ label {
				&:before {
					outline: thin dotted;
					outline: 5px auto -webkit-focus-ring-color;
					outline-offset: -2px;
				}
			}
		}

		&:checked {
			+ label {
				&:after {
					content: '';
					position: absolute;
					top: 50%;
					left: 5px;
					margin-top: -6px;
					width: 5px;
					height: 10px;
					border-width: 0 2px 2px 0!important;
					-webkit-transform: rotate(45deg);
					transform: rotate(45deg);
					border: solid white;
				}
			}
		}

		&:disabled {
			+ label {
				opacity: 0.65;

				&:before {
					background-color: #eeeeee;
					cursor: not-allowed;
				}
			}
		}
	}

	&-circle {
		label {
			&:before {
				border-radius: 50%;
			}
		}
	}

	&-inline {
		margin-top: 0;
	}
}

.checkbox-default input[type="checkbox"]:checked + label::before {
	background-color: $default;
	border-color: $default;
}

.checkbox-default input[type="checkbox"]:checked + label::after {
	color: #fff;
}

.checkbox-primary input[type="checkbox"]:checked + label::before {
	background-color: $primary;
	border-color: $primary;
}

.checkbox-primary input[type="checkbox"]:checked + label::after {
	color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before {
	background-color: $danger;
	border-color: $danger;
}

.checkbox-danger input[type="checkbox"]:checked + label::after {
	color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before {
	background-color: $info;
	border-color: $info;
}

.checkbox-info input[type="checkbox"]:checked + label::after {
	color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before {
	background-color: $warning;
	border-color: $warning;
}

.checkbox-warning input[type="checkbox"]:checked + label::after {
	color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before {
	background-color: $success;
	border-color: $success;
}

.checkbox-success input[type="checkbox"]:checked + label::after {
	color: #fff;
}

.radio {
	padding-left: 5px;

	label {
		display: inline-block;
		vertical-align: middle;
		position: relative;
		padding-left: 5px;

		&:before {
			content: "";
			display: inline-block;
			position: absolute;
			width: 17px;
			height: 17px;
			left: 0;
			top: 2px;
			margin-left: -20px;
			border: 2px solid #cccccc;
			border-radius: 50%;
			background-color: #fff;
			-webkit-transition: border 0.15s ease-in-out;
			-o-transition: border 0.15s ease-in-out;
			transition: border 0.15s ease-in-out;
		}

		&:after {
			display: inline-block;
			position: absolute;
			content: " ";
			width: 11px;
			height: 11px;
			left: 3px;
			top: 5px;
			margin-left: -20px;
			border-radius: 50%;
			background-color: #555555;
			-webkit-transform: scale(0, 0);
			-ms-transform: scale(0, 0);
			-o-transform: scale(0, 0);
			transform: scale(0, 0);
			-webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
			-moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
			-o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
			transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
		}
	}

	input[type="radio"] {
		opacity: 0;
		z-index: 1;

		&:focus {
			+ label {
				&:before {
					outline: thin dotted;
					outline: 5px auto -webkit-focus-ring-color;
					outline-offset: -2px;
				}
			}
		}

		&:checked {
			+ label {
				&:after {
					-webkit-transform: scale(1, 1);
					-ms-transform: scale(1, 1);
					-o-transform: scale(1, 1);
					transform: scale(1, 1);
				}
			}
		}

		&:disabled {
			+ label {
				opacity: 0.65;
				&:before {
					cursor: not-allowed;
				}
			}
		}
	}

	&-inline {
		margin-top: 0;
	}
}


.radio-default input[type="radio"] + label::after {
	background-color: $default;
}

.radio-default input[type="radio"]:checked + label::before {
	border-color: $default;
}

.radio-default input[type="radio"]:checked + label::after {
	background-color: $default;
}

.radio-primary input[type="radio"] + label::after {
	background-color: $primary;
}

.radio-primary input[type="radio"]:checked + label::before {
	border-color: $primary;
}

.radio-primary input[type="radio"]:checked + label::after {
	background-color: $primary;
}

.radio-danger input[type="radio"] + label::after {
	background-color: $danger;
}

.radio-danger input[type="radio"]:checked + label::before {
	border-color: $danger;
}

.radio-danger input[type="radio"]:checked + label::after {
	background-color: $danger;
}

.radio-info input[type="radio"] + label::after {
	background-color: $info;
}

.radio-info input[type="radio"]:checked + label::before {
	border-color: $info;
}

.radio-info input[type="radio"]:checked + label::after {
	background-color: $info;
}

.radio-warning input[type="radio"] + label::after {
	background-color: $warning;
}

.radio-warning input[type="radio"]:checked + label::before {
	border-color: $warning;
}

.radio-warning input[type="radio"]:checked + label::after {
	background-color: $warning;
}

.radio-success input[type="radio"] + label::after {
	background-color: $success;
}

.radio-success input[type="radio"]:checked + label::before {
	border-color: $success;
}

.radio-success input[type="radio"]:checked + label::after {
	background-color: $success;
}
