[class^="z4mico-"]:before, [class*=" z4mico-"]:before {
  font-family: "z4m-icon";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 }
 
.z4mico-list_alt:before { content: '\e800'; } /* '' */
.z4mico-local_activity:before { content: '\e801'; } /* '' */
.z4mico-confirmation_number:before { content: '\e802'; } /* '' */
.z4mico-help:before { content: '\e804'; } /* '' */
.z4mico-build:before { content: '\e805'; } /* '' */
.z4mico-add:before { content: '\e806'; } /* '' */
.z4mico-clipboard:before { content: '\e807'; } /* '' */

#app {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

#vueComponent {
	flex: 1 0 auto;
}

#guestadmin, #guest-admin, .guestadmin, .guest-admin {
	background: #efefef;

	nav {
		a {color: inherit;}
		@include media-breakpoint-down(md) {
			a {color: white;}
		}
	}

	&-nav {
		z-index: 100;
		@include media-breakpoint-only(xs) {
			position: relative;
		}
	}
	&-navbar {
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);

		ul {
			-ms-overflow-style: none;
			scrollbar-width: none;

			&::-webkit-scrollbar {
				display: none;
			}

			white-space: nowrap;
			overflow-y: hidden;
			overflow-x: scroll;
			font-size: 0; // space hack

			li {
				@include transition(200ms);
				display: inline-block;
				font-size: 1rem;

				&:hover {
					border-radius: 0.25rem;
					background: rgba(0,0,0,0.4);

					a {
						opacity: 1;
					}
				}

				i {
					font-size: inherit;
					color: $light-grey;
				}

				a {
					line-height: 40px;
					padding: 15px 10px;
				}
			}
		}
		a {
			#guestadmin &, #guest-admin &, .guestadmin &, .guest-admin & {
				color: $light-grey;

				&:hover {
					color: white;
				}
			}
		}		
	}

	.img {
		&-header {
			height: 80px;

			@include media-breakpoint-only(xs) {
				height: 50px;
			}
		}
		&-footer {
			height: 30px;
		}
	}

	.header--transparent {
		padding: 0.5rem 1rem;
		z-index: 100;
	}

	.navbar-toggle-guestadmin { /*toggle button*/
		position: absolute;
		background: none;
		color: white;
		top: 0;
		right: 65px;
		z-index: 9999;
		border: none;
		font-size: 34px;
		padding: 1rem;
	}

	.sr {
		&-reveal {
			visibility: hidden;
		}
	}

	> .container {
		~ * {
			padding-top: var(--p-3);
			padding-bottom: var(--p-3);
		}

		&:first-child {
			padding-top: var(--p-5);
			@include media-breakpoint-only(xs) {
				padding-top: var(--p-4);
			}		
		}

		&:last-child {
			padding-bottom: var(--p-5);
			@include media-breakpoint-only(xs) {
				padding-top: var(--p-4);
			}
		}
	}


	.text-brand {
		color: initial; // $color-brand

		i {
			color: initial; // $color-brand
		}
	}

	a {
		color: initial; // $color-brand
		&:hover {
			cursor: pointer;
		}
		&:focus {
			outline: 0;
		}
	}

	.badge {
		color: white!important;
		vertical-align: middle;
		padding: 0.5em;
		font-weight: 500!important;
		font-size: 85%;
	}
	
	.btn {
		&-brand {
			background: $dark-grey;
			color: white
		}

		&-outline {
			&-brand {
				color: $dark-grey;
				border: 1px solid $dark-grey;
				background: none;

				&:hover {
					color: white!important;
					background: $dark-grey;
				}
			}
		}
	}

	.fa-add-ticket, .fa-remove-ticket {
		font-size: 1.5rem;
	}

	.alert {
		&-event-create {
			white-space: pre-line;
		}
	}

	.guest-img {
		position: relative;
		padding-top: 56.25%;
		@include bg-overlay($med-grey);

		.custom-file-input {
			cursor: pointer;
		}

		&__btn {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			height: 100%;
		}

		&__desc {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;
			color: white;
			transform: translate(-50%, -50%);
			text-align: center;

			i {
				font-size: 2.5rem;
			}
		}
	}

	.notification-list {
		padding-left: 0;
		li {
			border-bottom: 1px solid $light-grey;

			&:hover {
				background: $light-grey;
			}
			&:last-child {
				border-bottom: none;
			}
		}

		p {
			margin-bottom: 0.5rem;
			padding-right: 30px;
		}

		.badge {
			margin-left: 5px;
		}

		.btn {
			white-space: nowrap;
		}

	}

	.status-details {
		.flex-row {
			> * {
				&:first-child {
					min-width: 200px;
				}
			}
		}
	}

	.event-banner {
		img {
			height: 460px;
			object-fit: cover;
		}
	}

	.price-info {

	}

	.preview {
		box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
		position: fixed;
		top: 0;
		background: $dark-grey;
		width: 100%;
		color: white;
		z-index: 100;
	}

	.progress-bar {
		li {
			&.active {
				color: initial; // $color-brand

				.progress-status {
					background: initial; // $color-brand

				}
			}

			&.through {
				.progress-status {
					background: initial; // $color-brand

					&:before, &:after {
						background: initial; // $color-brand
					}
				}
			}
		}
	}
	.page {
		&-item {
			&.active, &:active {
				a {
					color: white;
				}
				.page-link {
					background: initial; // $color-brand
					border-color: initial; // $color-brand
				}
			}
		}
		&-link {
			&:hover {
				color: initial; // $color-brand
			}
		}
	}

	.table {
		margin-bottom: 0;
		
		thead {
			th {
				border: none;
			}
		}
		th {
			background-color: $dark-grey;
			color: white;

			&:hover {
				@include hover-state(1, 0.9);
			}
		}
		th, td {
			padding: 1rem 2rem;
			white-space:nowrap;
			font-weight: 300;
			border-color: $light-grey;

			a {
				font-weight: bold;
			}
		}

		&.b-table > thead > tr > [aria-sort=none], &.b-table > tfoot > tr > [aria-sort=none] {
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='101' height='101' view-box='0 0 101 101' preserveAspectRatio='none'%3e%3cpath fill='white' opacity='0.5' d='M51 1l25 23 24 22H1l25-22zM51 101l25-23 24-22H1l25 22z'/%3e%3c/svg%3e");
		}

	}

	.invalid-feedback {
		display: block;
	}

	footer {
		flex-shrink: 0;
		
		a {
			color: white;
		}
	}

	.coupon-price, .form-control-verify {
		height: 0;
		@include transition(500ms);

		&.show {
			height: auto;
		}
		p, h4 {
			color: $zk-pink;
		}
		.btn {
			background: $zk-pink;
		}
	}

	.ck-editor {
		&__editable {
			min-height: 300px;
		}
	}

	.vue-form-wizard {
		.stepTitle {
			font-size: 1.2rem;
			margin-top: 10px;
			&:active, &.active {
				font-weight: bold;
			}
		}
	}

	.delete-ticket {
		position: absolute;
		right: 15px;
		top: 50%;
		transform: translateY(-50%); 
	}

	@include media-breakpoint-down(md) {
		footer {
			text-align: center;

			.footer {
				&-content {
					justify-content: center!important;
					flex-direction: column;
					ul {
						text-align: center!important;
					}
				}
			}
		}
	}

	@include media-breakpoint-up(md) {

	}
}

#ticket-user-fee-modal {
	p {
		min-width: 250px;
	}
}