header {
	z-index: 1021;
	position: relative;

	.navbar-collapse {
		&-zaiko {
			flex-grow: 0;
			z-index: 1030;
			
			>* {
				position: relative;
				margin-left: 20px;


				@include media-breakpoint-up(lg) { 	
					&:last-child {
						margin-right: 1rem;
					}
				}
			}
		}

		&::-webkit-scrollbar {
			display: none;
		}
	}

	.dropdown {
		display: block;

		&-user {
			&__submenu {
				visibility: visible;
				opacity: 1;
				padding: 50px 20px;
			}
		}

		&-user, &-lang {
			cursor: pointer;

			> div {
				color: white;
			}

			img {
				border: 2px solid white;
				border-radius: 50px;
				width: 30px;
				margin-right: 5px;
			}

			&:hover {
				ul {
					opacity: 1;
					visibility: visible;
				}
			}

			&__submenu {
				visibility: hidden;
				opacity: 0;
				position: absolute;
				background: white;
				margin-top: 1rem;
				border-radius: 0.25rem;
				top: 20px;
				right: 0;
				@include transition(200ms);

				li {
					white-space: nowrap;
					line-height: 2;

					&.active, span, a {
						padding: 0 30px;
						display: block;
						color: $dark-grey;
					}
				}
			}	
		}

		&-toggle {
			color: white;
			@include hover-state(1,0.8,white);

			&:after {
				display: none;
			}
		}

		button {
			display: flex;
			align-items: center;
			font-weight: normal;

			&:hover {
				-webkit-box-shadow: none;
				box-shadow: none;
			}
		}

		&-item {
			a {
				color: $dark-grey;
			}
		}
	}
}

.header {
	&--transparent {
		display: flex;
		justify-content: space-between; 
		align-items: center;
		position: absolute;
		width: 100%;
		padding: var(--padding-x);
	}
}

.navbar-toggler {
	&-sidebar, &-microsite {
		display: block;
		position: absolute;
		width: 5px;
		height: 25px;
		cursor: pointer;
		background: none;
		border: none;
		outline: none;

		top: 50%;
		transform: translateY(-50%);

		&.microsite {
			right: 0;
		}

		span {
			background: white; // Color of Hamburger Menu
			display: block;
			position: absolute;
			height: 5px;
			width: 5px;
			border-radius: 50%;
			opacity: 1;
			left: 0;

			&:nth-child(1) {
				top: 0px;
			}
			&:nth-child(2) {
				top: 9px;
			}
			&:nth-child(3) {
				top: 18px;
			}
		}
	}

	&-zaiko {
		&[aria-expanded="false"] {
			position: absolute;
		}
		position: fixed;
		width: 25px;
		height: 25px;
		right: calc(var(--padding-x) + 1rem);
		z-index: 9999;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		@include transition(200ms);
		cursor: pointer;
		background: none;
		border: none;
		outline: none;

		span {
			background: white; // Color of Hamburger Menu
			display: block;
			position: absolute;
			height: 2px;
			width: 100%;
			opacity: 1;
			left: 0;
			border-radius: 10px;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			@include transition(200ms);

			&:nth-child(1) {
				top: 0px;
				-webkit-transform-origin: left center;
				-moz-transform-origin: left center;
				-o-transform-origin: left center;
				transform-origin: left center;
			}
			&:nth-child(2) {
				top: 9px;
				-webkit-transform-origin: left center;
				-moz-transform-origin: left center;
				-o-transform-origin: left center;
				transform-origin: left center;
			}
			&:nth-child(3) {
				top: 18px;
				-webkit-transform-origin: left center;
				-moz-transform-origin: left center;
				-o-transform-origin: left center;
				transform-origin: left center;
			}
		}

		&[aria-expanded="true"] {
			span {
				background: $light-grey; // Color of Hamburger Menu
				&:nth-child(1) {
					-webkit-transform: rotate(45deg);
					-moz-transform: rotate(45deg);
					-o-transform: rotate(45deg);
					transform: rotate(45deg);
					top: 0px;
					left: 6px;
				}
				&:nth-child(2) {
					width: 0%;
					opacity: 0;
				}
				&:nth-child(3) {
					-webkit-transform: rotate(-45deg);
					-moz-transform: rotate(-45deg);
					-o-transform: rotate(-45deg);
					transform: rotate(-45deg);
					top: 18px;
					left: 6px;
				}
			}
		}
	} 
}


@include media-breakpoint-down(md) { 
	header {
		.navbar-collapse {
			&-zaiko {
				overflow-y: scroll; /* allow scroll inside mobile menu */
				a {
					color: white; 
				}
				&.collapsing {
					@include media-breakpoint-down(md) {
						opacity: 0!important; /* override the vue transition glitch */
						right: -500px!important;
					}

					&.menu {
						&-left, &-right {
							height: auto;
							overflow-y: scroll;					
						}
					}
				}
				&.show {
					&.menu {
						opacity: 1;
						&-left {
							left: 0;
						}
						&-right {
							right: 0;
						}
					}
				}
			}
		}
		.menu {
			/* display : flex; */
			flex-direction: column;
			position: fixed;
			background: rgba(0,0,0,0.95);
			top: 0;
			width: 300px;
			height: 100%!important;
			padding: 3rem 2rem 2rem;

			&-left {
				left: -300px;
				
			}
			&-right {
				right: -300px;
			}

			-webkit-box-shadow: 0px 1px 9px -3px rgba(0,0,0,0.75);
			box-shadow: 0px 1px 9px -3px rgba(0,0,0,0.75);

			@include transition(100ms);

			.welcome {
				font-size: 1.5rem;
			}

			>* {
				width: 100%;
				margin-left: 0;
			}			
		}
		.dropdown {
			button{
				padding: 0;
			}

			&-toggle {
				&:after {
					content: none;
				}
			}

			&-user a, &-lang a {
				margin-bottom: 10px;
				display: block;
			}

			&-lang ul {
				display: none;
			}

			&-menu {
				width: 100%;
				position: relative;
				display: block;
				background: none;
				padding: 0;
				margin: 0;
				top: 0;
				-webkit-animation: none;
				-o-animation: none;
				animation: none;
			}

			&-item {
				color: white!important;
				margin: 20px 0;
				padding: 0;
				&:hover, &:focus, &:active {
					background: none;
				}

				a {
					color: white!important;
				}
			}
		}
	}
}

@include media-breakpoint-only(xs) {
	header {
		.menu-left, .menu-right {
			width: 100%;
		}
	}
} 