.flag-icon-background {
	background-size: contain;
	background-position: 50%;
	background-repeat: no-repeat;
}

.flag-icon {
	@extend .flag-icon-background;
	position: relative;
	display: inline-block;
	width: (4 / 3) * 1em;
	line-height: 1em;
	&:before {
		content: '\00a0';
	}
	&.flag-icon-squared {
		width: 1em;
	}
}

.flag-icon-ja {background-image: url(../svg/lang/ja.svg);}
.flag-icon-ko {background-image: url(../svg/lang/ko.svg);}
.flag-icon-en {background-image: url(../svg/lang/en.svg);}
.flag-icon-zh-hans {background-image: url(../svg/lang/zh-hans.svg);}
.flag-icon-zh-hant {background-image: url(../svg/lang/zh-hant.svg);}
.flag-icon-fr {background-image: url(../svg/lang/fr.svg);}
.flag-icon-es {background-image: url(../svg/lang/es.svg);}
.flag-icon-it {background-image: url(../svg/lang/it.svg);}
.flag-icon-nl {background-image: url(../svg/lang/nl.svg);}

