#vueListingComponent {
	flex: 1 0 auto;
}

.zaiko-listing, .microsite {
	flex: 1 0 auto;

	.banner {
		height: 575px;
		width: 100%;

		>.position-absolute {
			top: 0;
			bottom: 0;
			
		}

		.container {
		}
	}

	>.container {
		padding-top: var(--p-3);
		padding-bottom: var(--p-3);

		&:last-child {
			padding-bottom: var(--p-5);
			@include media-breakpoint-only(xs) {
				padding-top: var(--p-3);
			}
		}
	}

	.listing {
		&-popular, &-card {
			margin: 0;
			position: relative;
			left: auto;
			top: auto;
			display: inherit;
			align-items: center;
			overflow: hidden;
			border: none;
			border-radius: .25rem;
			@include box-size-card(1, 1.03);
			@include transition(200ms);

			img {
				width: 100%;
				height: auto;
				object-fit: cover;
			}

			.event {
				position: absolute;
				background: rgba(0,0,0,0.7);
				color: white;

				p {
					margin: 0;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow-x: hidden;
				}

				&-location {
					top: 0;
					right: 0;		
					padding: 2px 5px;

				}
				&-info {
					bottom: 0;
					width: 100%;
					padding: 10px 15px;
				}
			}
		}
		&-media {
			position: relative;
			overflow: hidden;
			@include transition(300ms);

			&.show {
				height: inherit;

				&:after {
					display: none;
				}
			}

			&:after {
				/* content: '';
				position: absolute;
				top: 80%;
				bottom: 0;
				left: 0;
				right: 0;
				background: linear-gradient(rgba(255, 255, 255, 0), white); */
			}

			&-partner {
				flex: none;
				border-radius: .25rem;
				color: white;
				margin: 5px;
				width: calc(100%/3 - 10px);
			}

			&-organizer {
				> .listing-card {
					&.listing-media-partner {
						margin: 0;
					}
					width: 100%;
				}
			}
		}
		&-group {
			margin: 0 -10px;

			@include media-breakpoint-down(sm) {
				margin: 0 -5px;
			}

			&-upcoming {
				margin: 0 10px 20px;

				@include media-breakpoint-up(md) {
					@include box-size-card(1, 1.03);
					flex: 1 1 calc(100% / 3 - 20px);

					&:nth-last-child(2), &:last-child {
						flex: 0 0 calc(100% / 3 - 20px);
					}

				}

				@include media-breakpoint-down(sm) {
					flex: 1 1 calc(100% / 2 - 10px);
					margin: 0 5px 10px;

					&:last-child {
						flex: 0 0 calc(100% / 2 - 10px);
					}
				}
				
				overflow: hidden;
				border: none;

				img {
					width: 100%;
					height: auto;
					object-fit: cover;
				}

				.event {
					p {
						text-overflow: ellipsis;
						white-space: nowrap;
						overflow-x: hidden;

						@include media-breakpoint-down(sm) {
							font-size: 1rem;
						}

					}

					&-location {
						position: absolute;
						top: 0;
						right: 0;
						padding: 5px 8px;
						background: rgba(0,0,0,0.7);
						color: white;

						@include media-breakpoint-down(sm) {
							font-size: 0.8rem;
						}

					}
				}
			}
		}

		&-category {
			.event {
				width: 50%;
				&:nth-child(1), &:nth-child(2), &:nth-child(3) {
					width: calc(100%/3);
				}

				@include media-breakpoint-only(xs) {
					width: 100%!important;
				}

			}

			figure {
				@include transition(200ms);
				margin: 2px;
				position: relative;
				align-items: center;
				display: inherit;
				left: auto !important;
				top: auto !important;
				box-sizing: border-box;
				height: 250px;
				overflow: hidden;

				&:before {
					position: absolute;
					content: '';
					background: black;
					width: 100%;
					height: 100%;
					@include transition(300ms);
					opacity: 0.5;
					z-index: 1;
				}

				img {
					object-fit: cover;
					width: 100%;
					height: 100%;
					@include transition(300ms);
				}

				a {
					&:hover {
						opacity: 1;
					}
				}

				.text-block {
					@include transition(300ms);
					opacity: 1;
					text-align: center;
					z-index: 1;
					display: flex;
					align-items: center;
					justify-content: center;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;

					h3 {
						color: white;
						margin: 0
					}
				}

				&:hover {
					&:before {
						opacity: 0.2;
					}

					img {
						-moz-transform: scale(1.03);
						-webkit-transform: scale(1.03);
						transform: scale(1.03);
					}
				}
			}
		}

		&-buy {
			position: fixed;
			bottom: 0;
			z-index: 10;
		}


		@include media-breakpoint-down(md) {


		}

		@include media-breakpoint-down(sm) {
			.listing-latest {
				flex: 1 1 50%;
			}
		}
	}

	.event {
		&-banner {
			position: relative;

			.swiper {
				&-wrapper {
					height: 400px;
				}
				&-slide {
					@include media-breakpoint-down(sm) {
						object-fit: cover;
					}
					object-fit: contain;
					width: 100%;
					height: 100%;
				}
			}
		}
	}


}