.card {
	&-login {
		@include media-breakpoint-up(sm) { 
			width: 500px;
		}
		@include media-breakpoint-only(xs) { 
			padding: 0;

			.card {
				height: 100vh;
				border-radius: 0;
				margin: 0;
			}
		}
	}

	&-register {
		@include media-breakpoint-up(sm) { 
			width: 600px;
			margin-top: 20px;
		}		

		@include media-breakpoint-only(xs) { 
			padding: 0;

			.card {
				margin: 0;
				border-radius: 0;
			}
		}
	}	
}

.btn {
	&-light {
		border: 1px solid $med-grey;
	}
	
	&-social {
		width: 100%;
		padding: 10px 0;

		svg {
			height: 20px;
		}

		span {
			margin-left: 5px;
		}

		+ .btn-social {
			margin-left: 5px;
		}
	}
}