main {
	background: $bg-main;
	width: 100%
}

.card {
	margin-bottom: 20px;

	&--login {
		box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
	}
}

.banner {
	position: relative;
	color: white;

	&.bg-home {
		video {
			position: fixed;
		}
		
		.text-block {
			padding-top: var(--padding-banner);
			padding-bottom: var(--padding-banner);
		}
	}

	&-narrow {
		padding-top: calc(var(--padding-banner) / 1.2);		
		padding-bottom: calc(var(--padding-banner) / 3);		
	}

	> * {
		/* position: relative; */
	}

	.text-block {
		padding: var(--padding-x);
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;
		z-index: 2;

		&.banner-narrow {
			padding-top: calc(var(--padding-banner) / 1.5);		
			padding-bottom: calc(var(--padding-banner) / 4);		
		}
	}	

	&.has-banner {
		.text-block {
			h2, p {
				text-shadow: 0 2px 15px rgba(0,0,0,0.3);
			}
		}
	}
}

.pricing-cards {
	.card {
		padding: 1.5rem;
		color: $dark-grey;
		background: white;
		border-radius: 8px;
		-webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,.05);
		box-shadow: 0 2px 8px 0 rgba(0,0,0,.05);
		@include transition(200ms);
		transform: scale(0.95);

		&:hover {
			box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
			transform: scale(1);
		}

		span {
			font-size: 1.5rem;
		}
	}
}

.call-to-action {
	color: white;
	padding: 5rem var(--padding-5rem);

	&.bg {
		background: $zk-purple;
	}
}

.img {
	&-header {
		height: 60px;

		@include media-breakpoint-only(xs) {
			height: 50px;
		}
	}

	&-clients {
		img {
			object-fit: contain;
			max-height: 80px;
		}
	}
}

.list-check {
	.list-item {
		margin-bottom: 10px;
	}

	span {
		vertical-align: middle;
		padding-left: 0.5rem;
	}
}

.payment {
	&-buttons {
		> * {
			box-sizing: border-box;
			border: 3px solid transparent;

			&.selected {
				border-color: $zk-pink;
			}

			width: calc(50% - 10px);

			@include media-breakpoint-down(md) {
				width: 100%;
			}

			text-align: center;
			flex: none;
			border-radius: .25rem;
			background: $light-grey;
			margin: 5px;
			@include box-shadow-card(2px, 10px, 0.05, 0.1);
			@include transition(200ms);

			a {
				color: $dark-grey;
				padding: 1rem;
			}

			svg {
				width: 80%;
			}

			.cc-number {
				letter-spacing: 3px;
			}
		}
	}

	&-ccdetails {
		display: none;
		&.show {
			display: block;
		}
	}
}

.press {
	&-body {
		p {
			font-size: 1.2rem;
		}
	}
}

.queue-number {
	color: $zk-pink;
	font-weight: bold;
}


.terms {
	ol {
		li {
			list-style-type: inherit;
		} 
	}
	ul {
		li {
			list-style: disc!important;			
		}
	}
}

@include media-breakpoint-down(sm) {
	.zk {
		&-contact {
			form {
				.data_event {
					width: 100%;
				}
			}
		}
	}
}