.card {

	&-checkout, &-order {
		p, h1, h2, h3, h4, h5, h6 {
			margin-bottom: 0;
		}
	}

	&-checkout {
		@include media-breakpoint-down(sm) {
			.card-header {
			}
		}

		&-content {
		
		}

		&-collapse {
			position: absolute;
			width: 35px;
			height: 35px;
			right: 10px;
			top: 10px;

			&:not(.collapsed) {

			}

			@include media-breakpoint-up(md) {
				display: none;
			}
		}
	}
}

.ticket-price {
	&.single {
		border-bottom: 1px solid #efefef;
	}
	&.total {

	}
}

.form-control {
	&-ticket {
		width: 75px;
	}
}

.tos-more {
	cursor: pointer;

	&:not(.collapsed) {
		opacity: 0;
		@include transition(200ms);
	}
}

.payment {
	&-buttons {
		li {
			box-sizing: border-box;
			border: 3px solid transparent;

			&.selected {
				border-color: $zk-pink;
			}

			width: calc(50% - 10px);

			@include media-breakpoint-only(xs) {
				width: 100%;
			}

			text-align: center;
			flex: none;
			border-radius: .25rem;
			background: $light-grey;
			margin: 5px;
			@include box-shadow-card(1px, 5px, 0.1, 0.3);
			@include transition(200ms);

			a {
				color: $dark-grey;
				padding: 1rem;
			}

			p {
				font-size: 80%;
				margin-bottom: 0;
			}

			svg {
				width: 80%;
			}
		}
	}

	&-ccdetails {
		display: none;
		&.show {
			display: block;
		}
	}
}
