// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-only(xs) { 
	.d-xs {
		&-block {
			display: block!important;
		}
		&-none {
			display: none!important;
		}
	}

	.btn-xs-block {
		display: block;
		width: 100%;

		+ .btn-xs-block {
			margin-top: $btn-block-spacing-y;
		}
	}

	.content {
		padding: $padding-xs;
	}

	.card {
		&--login {
			width: 100%;	
		}
	}

	.nav-tabs {
		display: block;
	}
}

@include media-breakpoint-up(xs) { 
	
}

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) { 

}

@include media-breakpoint-down(md) { 
	.bg-overlay {
		&-login {
			padding: var(--padding-5rem) var(--padding-x);
		}
	}
}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) { 	
	.bg-overlay {
		overflow: hidden;
	}
	.hero-title {
		font-size: 4rem;
	}
	.content {
		padding: 3rem;
	}
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) { 

	
}

// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) { 

}
