.sidebar {
	// background: linear-gradient(to right bottom, #f359a3, $zaiko-purple);
	background: $med-grey;
	color: white;

	nav {
		font-family: $heading;
		font-weight: 400;

		.profile {
			padding: 2rem 0;

			img {
				border-radius: 100px;
				margin: 10px;
			}
		}

		.navigation {
			padding-left: 0;
			margin: 0;
			
			> li {
				@include hover-state(0.6, 1);

				> ul {
					padding: 0;

					li {
						background: $med-grey;
						padding: 10px 0 10px 60px;
					}
				}
			}

			&__first {
				padding: 10px 25px;
				
			}



		}

		.footer-logo {
			position: absolute;
			bottom: 30px;
			left: 0;
			right: 0;
		}
	}


	.list-group-item {
		opacity: 0.8;
		border: none;
		border-radius: 0;

		&:hover, 
		&:focus, 
		&:active 
		{
			color: white;
			background: rgb(106, 130, 252);
			opacity: 1;
		}
	}

	.collapse {
		a {
			font-weight: normal;	
		}
	}
	
}