table {
	margin-bottom: 0;

	.terms & {
		width: 100%;
		margin-bottom: 1rem;
		border: 1px solid #dee2e6;

		tr {
			&:first-child {
				td p {
					white-space: nowrap!important;
					text-align: center;
				}
			}
		}

		th, td {
			border: 1px solid #dee2e6;
			padding: 0.75rem;
			p {
				text-align: left!important;
			}
		}

	}

	&.table-lang {
		.text-nowrap {
			white-space: nowrap;
		}

		td {
			max-width: 150px;
		}
	}
}

.table {
	margin-bottom: 0;

	thead {
		th {
			border: none;
		}
	}
}