$heading:				'Montserrat', Helvetica, Arial, sans-serif;
$font-stack:			'Gotham', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

$zk-pink:				#fc5c7e;
$zk-purple:				#b072e6;
$zk-blue:				#324190;
$zk-grad: 				$zk-pink, #f359a3, #db62c7, $zk-purple, $zk-blue;

$dark-grey:				#333333;
$med-grey:				#ababab;
$light-grey:			#f4f5f8;
$bg-main:				#f7f7f7;
$bg-admin:				#efefef;

// Button Colors
$default:				$zk-blue;
$primary:				#1991EB;
$secondary:				#ababab;
$success:				#0abb87;
$danger:				#fd397a;
$warning:				#ffb822;
/* $info:					#5578eb; */
$dark:					#282a3c;
$theflame:				#e91e63;

$padding-xs:			15px;
$sidebar-width:			250px;

:root {
	--padding-x: 		2rem;
	--p-3: 				1rem;
	--p-4: 			   	1.5rem;
	--p-5: 			   	3rem;
	--padding-5rem: 	5rem;
	--padding-banner: 	15rem;
	--padding-cta: 		5rem;

	--base-font-size: 	14px;
	--base-h1: 			calc(var(--base-font-size) * 4);
	--base-h2: 			calc(var(--base-font-size) * 3);
	--base-h3: 			calc(var(--base-font-size) * 2);
	--base-btn-font: 	calc(var(--base-font-size) * 1.3);
	--base-cta-font: 	calc(var(--base-font-size) * 1.3);
}

// Misc
$breadcrumb-divider: "›";

@include media-breakpoint-down(sm) {
	:root {
		--padding-cta: 		3rem;
	}
}

@include media-breakpoint-only(xs) {
	:root {
		--padding-x: 		15px;
		--padding-5rem: 	3rem;
		--padding-banner: 	10rem;

		--base-h1: 			calc(var(--base-font-size) * 2);
		--base-h2: 			calc(var(--base-font-size) * 2);
		--base-h3: 			calc(var(--base-font-size) * 1.5);		
		--base-btn-font: 	calc(var(--base-font-size) * 1.2);
		--base-cta-font: 	var(--base-font-size);
	}	
}

html, body {
	font-family: $font-stack;
	font-size: var(--base-font-size);
	webkit-font-smoothing: antialiased;
	height: 100%;
}

html {
	/* scroll-behavior: smooth; */
}

body {
	overflow-x: hidden;
	background: $bg-main;
}

#app {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $heading;
	font-weight: bold;
	margin-bottom: 1.5rem;
	letter-spacing: 0.8;
}

h1 {font-size: var(--base-h1)};
h2 {font-size: var(--base-h2)};
h3 {font-size: var(--base-h3)};

ul, li {
	text-decoration: none;
	list-style: none;
}

a {
	-webkit-transition: color 200ms, background 200ms;
	-o-transition: color 200ms, background 200ms;
	transition: color 200ms, background 200ms;
	@include hover-state(1,0.95, $zk-blue);
	color: $zk-blue;
}

.img {
	&-profile {
		border-radius: 50%;
	}
}

[type="checkbox"] {
	&:before {
		pointer-events: none;
		background-color: #fff;
		border: 1px solid #adb5bd;
	}
}

.no-bold {
	font-weight: normal!important;
}

.pre-wrap {
	white-space: pre-wrap;
}

/* paddings */
.p {
	&-x {
		padding: var(--padding-x);
	}

	&-5rem {
		padding: var(--padding-5rem);
	}

	&-10rem {
		padding: var(--padding-cta);
	}
}

.zaiko-pink 	{color: $zk-pink;}
.zaiko-blue 	{color: $zk-blue;}
.zaiko-purple 	{color: $zk-purple;}

.animated {
	&.animated-fast {
		-webkit-animation-duration: 300ms;
		animation-duration: 300ms;
	}
}

/* buttons */
button {
	border: none;
	background: none;
	font-weight: 500;
	padding: 0.375rem 0.75rem;
}

.btn {
	-webkit-transition: color 200ms, background 200ms, box-shadow 200ms;
	-o-transition: color 200ms, background 200ms, box-shadow 200ms;
	transition: color 200ms, background 200ms, box-shadow 200ms;
	@include hover-state(1,0.95, white);
	@include box-shadow-card(1px, 5px, 0, 0.3);
	font-family: $font-stack;
	font-weight: 500;
	color: white;

	&:hover {
		color: white;
	}

	&:focus {
		outline: 0;
	}
	
	&-clear {
		background: none;
		border: none;
		color: white;
		box-shadow: none;
	}

	&-rounded {
		border-radius: 50px;
	}

	&:not(.btn-clear) {
		/* @include hover-state(1,0.85, white); */
		/* @include box-shadow(0, 0.2); */
	}

	&-outline {
		&-filter {
			color: $dark-grey; 
			border: 1px solid $med-grey;
			background: white;

			&:hover, &:focus {
				color: $dark-grey;
				border-color: $med-grey;
				box-shadow: none!important;
			}
		}
		&-light {			
			&:hover {
				color: $dark-grey;
			}	
		}
		&-dark {
			color: $dark-grey;
		}
	}

	&-zaiko {
		@include color-zaiko(right, bottom);
		position: relative;

		.helper {
			@include transition(200ms);
			background: linear-gradient(to left top, $zk-pink, $zk-purple);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
		}

		&:hover {
			color: white; 

			.helper {
				opacity: 1;
			}
		}

		.text {
			color: white;
			position: relative;
		}
	}

	&-circle {
		width: 30px;
		height: 30px;
		padding: 6px 0px;
		border-radius: 50%;
		text-align: center;
		
		&.btn-xl {
			min-width: inherit;
			width: 50px;
			height: 50px;
			padding: 19px;
		}

		&-faq {
			display: flex;
			justify-content: center;
			align-content: center;
			position: fixed;
			right: 15px;
			bottom: 15px;

			&:hover {
				transform: scale(1.1);
			}
		}
	}

	&-lg {
		padding: 0.7rem 1.5rem;
		@include box-shadow-card(2px, 8px, 0, 0.3);
	}

	&-xl, .helper {
		min-width: 150px;
		padding: 15px 25px;
		font-size: var(--base-btn-font);
	}
	
	&-default 	{background: #324190;}
	&-primary 	{background: $primary;}
	&-secondary {background: $secondary; border-color: $secondary;}
	&-success 	{background: $success;}
	&-facebook 	{background: #1877f2;}
	&-google 	{background: #4081ed;}
	&-pink 		{background: $zk-pink;}
	&-black 	{background: black;}

	&-white {
		border: 1px solid white;
		color: white;
	}

	&-dark {
		border: 1px solid $dark-grey;
		color: white;
	}

	&.disabled, &:disabled {
		opacity: 0.4;
	}
}

svg {
	width: 100%;
}

/* backgrounds */
.bg {
	&-blue 				{background: $zk-blue};
	&-purple 			{background: $zk-purple};
	&-pink 				{background: $zk-pink};
	&-zaiko 			{background: (linear-gradient(to right bottom, $zk-grad))};
	&-dark-grey 		{background: $dark-grey};
	&-med-grey 			{background: $med-grey};
	&-light-grey 		{background: $light-grey};
	&-default 			{background: $zk-blue!important; color: white;};
	&-success 			{background: $success!important; color: white;};
	&-warning 			{background: $warning!important};
	&-danger 			{background: $danger!important; color: white;};
	&-muted 			{background: #6c757d!important; color: white;};
	&-black 			{background: black; color: white;};

	&-overlay {
		min-height: 100%;
		position: relative;
		overflow-x: hidden;

		video {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			min-width: 100%;
			min-height: 100%;
			width: auto;
			height: auto;
			background-size: cover;
			filter: opacity(70%);

			.zaiko-listing & {
				position: absolute;
			}
		}

		&.full-h {	
			height: 100vh;
			color: white;
		}

		>* {
			position: relative;
		}

		@include bg-overlay($dark-grey);

		&.opacity-40 {
			@include bg-overlay(black, 0.4);
		}

		&-zaiko {
			@include bg-overlay(linear-gradient(to right bottom, $zk-grad));

			&-rev {
				@include bg-overlay(linear-gradient(to left top, $zk-grad));
			}
		}
	}

	&-gradient {
		position: absolute;
		padding: calc(var(--padding-x) * 4);
		width: 100%;
		z-index: 2;

		&-top {
			top: 0;
			background: linear-gradient(to bottom, rgba(0,0,0,0.5), transparent);
		}
		&-bottom {
			bottom: 0;
			background: linear-gradient(to top, rgba(0,0,0,0.5), transparent);
		}
	}
}

i, svg {
	&.fa-chevron-right {
		float: right;
		margin-top: 4px;
		margin-left: 2.5rem;
	}
}

.fab {
	&.sms { font-size: 1.2rem;}
	&.fa-facebook-f { color: #3C5A99;}
	&.fa-instagram { color: black; }
	&.fa-twitter { color: #00acee;}
}

[data-toggle="collapse"] {
	i {
		margin-left: 0;
	}

	.collapsed { // CLOSE
		.typcn {
			&-chevron-right {
				@include rotate-z(0);
			}
		}
	}
	&:not(.collapsed) { // OPEN
		.typcn {
			&-chevron-right {
				@include rotate-z(90);

			}	
		}
	}
}

.dropdown-toggle {
	&[aria-expanded="false"] {
		.fa {
			&-chevron-right { 
				@include transition(200ms);
				@include rotate-z(0);
			}
		}
	}
	&[aria-expanded="true"] {
		.fa {
			&-chevron-right {
				@include transition(200ms);
				@include rotate-z(90);
			}
		}
	}
}

/* Colors */
.text {
	&-blue 				{color: $zk-blue};
	&-purple 			{color: $zk-purple};
	&-pink 				{color: $zk-pink};
	&-dark-grey 		{color: $dark-grey};
	&-med-grey 			{color: $med-grey};
	&-light-grey 		{color: $light-grey};
	&-success 			{color: $success!important};
	&-warning 			{color: $warning!important};
	&-danger 			{color: $danger!important};
}

/* Cards */
.card {
	border: none;
	color: $gray-700;
	border-radius: 0.5rem;

	&-header, &-footer {
		border-color: rgba(0,0,0,0.03);
	}

	&-body {
		padding: 0;
	}

	&-dark {
		background: rgba(0,0,0,0.4);
		border-color: rgba(0,0,0,0.2);
		color: $gray-200;
	}

	&-gradient {
		background: linear-gradient(to right bottom, #110415, $default);
	}

	&.hover {
		color: black;
		box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
		transform: scale(1);
		z-index: 1;
	}

	&.nothover {
		color: $med-grey;
		background: $light-grey;
		box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
		transform: scale(0.85);
	}

	&-pricing {
		box-sizing: border-box;

		&.selected {
			border: 5px solid rgba($info, 0.5);
		}
	}

	&-map {
		iframe {
			border-radius: 0.5rem;
		}
	}
	
	&-checkout, &-order {
		p, h1, h2, h3, h4, h5, h6 {
			margin-bottom: 0;
		}

		.sticky-top {
			@include media-breakpoint-down(md) {
				position: relative;
			}
		}
	}

	&-checkout {
		@include media-breakpoint-down(sm) {
			.card {
				border-radius: 0;
			}
		}

		&-close {
			position: absolute;
			width: 35px;
			height: 35px;
			right: 10px;
			top: 10px;

			@include media-breakpoint-up(md) {
				display: none;
			}

			&:before, &:after {
				background-color: $med-grey;
				content: "";
				display: block;
				left: 50%;
				position: absolute;
				top: 50%;
				z-index: 1021;
				-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
				transform: translateX(-50%) translateY(-50%) rotate(45deg);
				-webkit-transform-origin: center center;
				transform-origin: center center;
			}

			&:before {
				height: 2px; 
				width: 50%;
			}

			&:after {
				height: 50%;
				width: 2px;
			}
		}
	}

	&-ticket {
		-webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.1));
		filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.1));

		.image {
			height: 250px;
			border-top-left-radius: 0.5rem;
			border-top-right-radius: 0.5rem;
		}

		&-name {
			background: rgba(0,0,0,0.7);
			border-top-left-radius: 0.5rem;
			border-top-right-radius: 0.5rem;
		}

		&__rip {
			background: white;
			height: 30px;
			margin: 0 15px;
			background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAACCAYAAAB7Xa1eAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuOWwzfk4AAAAaSURBVBhXY5g7f97/2XPn/AcCBmSMQ+I/AwB2eyNBlrqzUQAAAABJRU5ErkJggg==);
			background-size: 5px 2px;
			background-repeat: repeat-x;
			background-position: center;
			position: relative;
			box-shadow: 0 1px 0 0 #fff, 0 -1px 0 0 #fff;

			&:before, &:after {
				content: '';
				position: absolute;
				width: 40px;
				height: 40px;
				top: 50%;
				-webkit-transform: translate(-50%, -50%) rotate(45deg);
				transform: translate(-50%, -50%) rotate(45deg);
				border: 5px solid transparent;
				border-top-color: #fff;
				border-right-color: #fff;
				border-radius: 100%;
				pointer-events: none;
			}

			&:before {
				left: -15px;
			}

			&:after {
				-webkit-transform: translate(-50%, -50%) rotate(225deg);
				transform: translate(-50%, -50%) rotate(225deg);
				right: -55px;
			}
		}
	}
}

.alert, .badge, .pill {
	@include transition(200ms);
	border: none;
	color: white;
	line-height: 1.5;

	&-hidden {display: none;}
	&-success {background: $success;}
	&-warning {background: $warning;
		color: black;
	}
	&-danger {background: $danger;}
	&-info {background: $info;}
	&-dark {background: $dark;}
	&-secondary {color: white;}
	&-default {background: $zk-blue;}
	&-theflame {background: black; color: $theflame};

	button {
		&.close {
			text-shadow: none;
		}
	}
}

.sign-up {
	color: $dark-grey;

	.modal-content {	
		border: none;
		background: none;
	}
}

[id*="BV_modal_outer"] {
	z-index: 1072!important;
}

.modal {
	background: rgba(0,0,0,0.8);

	&-header {
		display: none;
	}

	&.fade {
		.modal-dialog {
			@include transition(300ms);
			transform: none;
		}
	}

	&-backdrop {
		z-index: -1;
	}

	&-dark {
		.modal-content {
			background: black;
			color: white;
		}
	}

	&-loading {
		background: rgba(0,0,0,0.5);
		z-index: 1051;

		.spinner-border {
			width: 5em;
			height: 5em;
		}
	}

	&-footer {
		> div {
			z-index: 1000;
			margin-right: -5px;
		}
		&:hover {
			background: $dark-grey;
			@include transition(200ms);
		}
	}

	&-close, &-footer {
		position: fixed;
		width: 35px;
		height: 35px;
		right: 20px;
		top: 20px;
		border-radius: 50%;
		background: none;
		border: none;
		pointer-events: auto;
		vertical-align: top;

		button {
			opacity: 0;
		}

		&:hover {
			cursor: pointer;
		}

		&:before, &:after {
			background-color: white;
			content: "";
			display: block;
			left: 50%;
			position: absolute;
			top: 50%;
			-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
			transform: translateX(-50%) translateY(-50%) rotate(45deg);
			-webkit-transform-origin: center center;
			transform-origin: center center;
		}

		&:before {
			height: 2px; 
			width: 50%;
		}

		&:after {
			height: 50%;
			width: 2px;
		}
	}
}

.swiper {
	width: 100%;
	overflow: hidden;

	&-banner {
		overflow-x: hidden;
	}

	&-pagination {
		&-bullet {
			background: white;
			opacity: 0.5;
			width: 10px;
			height: 10px;

			&-active {
				background: $zk-pink;
				opacity: 1;
			}
		}
	}
}

.breadcrumb {
	@include media-breakpoint-down(sm) {
		display: none;
	}

	background-color: $light-grey;
	padding: 1rem 2rem;
	border-bottom: 1px solid #e4e4e4;
	margin-bottom: 0;

	&-item {
		display: inline-block;

		+.breadcrumb-item {
			padding-left: 1rem;

			&:before {
				content: $breadcrumb-divider;
				padding-right: 1rem;
			}
		}
	}
}

.event-meta {
	li {
		display: flex;
		i {
			min-width: 25px;
		}
		> * {
			line-height: 2;
		}

	}
}

.blurred {
	filter: blur(4px);
	-webkit-filter: blur(4px);

	&-gradient {
		position:absolute;
		z-index: 2;
		right: 0; 
		bottom: 0; 
		left: 0;
		height: 250px;
		background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	}
}

.buy-ticket {
	position: fixed;
	bottom: 0;
	z-index: 10;

	&-widget {
		z-index: 9;
	}
}

.dropdown {
	&-menu {
		-webkit-animation: fadeIn .3s ease 1;
		animation: fadeIn .3s ease 1;
		margin-top: 0.75rem;
		-webkit-box-shadow: 0 8px 24px rgba(0,0,0,0.08);
		box-shadow: 0 8px 24px rgba(0,0,0,0.08);
		border: none;
	}
	&-item {
		padding: 0.5rem 1.5rem;
		&:active, &.active {
			background-color: $zk-blue;
		}
	}
}

.page-item {
	&.active, &:active {
		a {
			color: white;
		}
	}
}

// Progress Dots and Lines
.progress-bar {
	a {
		color: #cccccc;
	}

	background: none;

	ol {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	i {
		font-size: 30px;
		position: absolute;
		color: white;
		bottom: 0;
		top: 50%;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		left: 0;
		right: 0;
	}

	li {
		position: relative;
		z-index: 1;
		display: inline-block;
		min-width: 70px;
		margin: 0;
		color: $med-grey;
		
		.fa-step {
			&--text {
				margin: 1rem 0; 
			}
		}

		&:first-child {
			.progress-status {
				&:before {
					display: none;
				}
			}
		}

		&:last-child {
			.progress-status {
				&:after {
					display: none;
				}
			}
		}

		&.active {
			font-weight: bold;
			color: $zk-pink;

			.progress-status {
				background: $zk-pink;

			/* 	&:before {
					background: $zk-pink;
					} */
				}
			}

			&.through {
				.progress-status {
					background: $zk-pink;

				/* &:before, &:after {
					background: $zk-pink;
					} */
				}
			}
		}

		.progress-status {
			position: relative;
			width: 60px;
			height: 60px;
			margin: 0 90px;
			background:  $med-grey;
			border-radius: 50%;
			-webkit-box-shadow: 0 8px 24px rgba(0,0,0,0.08);
			box-shadow: 0 8px 24px rgba(0,0,0,0.08);

			&:before {
				right: 100%;
			}

			&:after {
				left: 100%;
			}

			&:before, &:after {
				border-style: solid;
				border-width: 0;

				position: absolute;
				bottom: 28px;
				z-index: -1;
				display: block;
				content: '';
				width: 100px;
				height: 5px;
				background: $med-grey;
			}
		}
	}

	// Spinner 

	@keyframes zk-spinner {
		0% {
			-webkit-transform: translate(-50%, -50%) rotate(0deg);
			transform: translate(-50%, -50%) rotate(0deg);
		}
		100% {
			-webkit-transform: translate(-50%, -50%) rotate(360deg);
			transform: translate(-50%, -50%) rotate(360deg);
		}
	}
	@-webkit-keyframes zk-spinner {
		0% {
			-webkit-transform: translate(-50%, -50%) rotate(0deg);
			transform: translate(-50%, -50%) rotate(0deg);
		}
		100% {
			-webkit-transform: translate(-50%, -50%) rotate(360deg);
			transform: translate(-50%, -50%) rotate(360deg);
		}
	}

	.zk-spinner {
		position: relative;
		width: 100px;
		height: 100px;
		-webkit-transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);
		transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);

		div, div:after {
			position: absolute;
			width: 150px;
			height: 150px;
			border: 30px solid $zk-pink;
			border-top-color: transparent;
			border-radius: 50%;
		}

		div {
			-webkit-animation: zk-spinner 1s linear infinite;
			animation: zk-spinner 1s linear infinite;
			top: 100px;
			left: 100px;
		}

		div:after {
			-webkit-transform: rotate(90deg);
			transform: rotate(90deg);
		}
	}

	.position-absolute-center {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	.fullscreen-absolute-center {
		position: fixed;
		z-index: 9999;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0,0,0,0.8);

		.spinner-border {
			width: 5rem;
			height: 5rem;
		}
	}

	.influencer, .artist {
		p {
			&.h3, &.h4 {
				line-height: 1.5;
			}
		}

		.full-h {
			background: linear-gradient(to top left, #00cdcd, #00cdcd, #156271);
			width: 100%;
		}

		.full-h > div {
			z-index: 99;
			position: relative;
		}

		.full-h:after {
			content: "";
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			height: 0;
			border-right: 100vw solid black;
			border-top: 20vw solid transparent;
			width: 0;
			z-index: 0;
		}

		.mock img {
			display: block;
			margin: 0 auto;

			@include media-breakpoint-down(xs) {
				width: 70%;
			}
		}

		.img-icon {
			width: 100px;
		}

		.btn {
			@include media-breakpoint-down(xs) {
				display: block;
			}
		}

		@include media-breakpoint-up(md) {
		}

		@include media-breakpoint-down(lg) {
		}

		& + footer {
		}
	}

	.artist {
		&-banner {
			&:after {
				content: "";
				background-image: url(https://d38fgd7fmrcuct.cloudfront.net/1_3tbyxejowwgencfnsx65q.png);
				background-size: 64px 34px;
				width: 64px;
				height: 34px;
				position: absolute;
				left: 50%;
				bottom: 20px;
				margin-left: -32px;
				z-index: 2;
				animation: hero-down-ar infinite 1s;
			}
		}


		&-slide {
			height: 200px;

			&:before {
				@include transition(300ms);
				content: "";
				background: black;
				display: block;
				height: 100%;
				width: 100%;
				position: absolute;
				z-index: 10;
				opacity: 0.5;
				pointer-events: none;
			}

			&:hover {
				&:before {
					opacity: 0.2;
				}
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			.text-block {
				@include transition(300ms);
				width: 100%;
				position: absolute;
				margin: 0 auto;
				text-align: center;
				z-index: 10;
				text-transform: uppercase;
				transform: translateY(-50%);
				top: 50%;
				left: 0;
				right: 0;
			}
		}
	}

	.box {
		background: white;
		color: black;
		padding: 10px 15px;
		display: inline-block;
	}
