.vue-form-wizard .wizard-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;

  &.disabled, &[disabled] {
    cursor: not-allowed;
    opacity: .65;
    filter: alpha(opacity = 65);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

fieldset[disabled] .vue-form-wizard .wizard-btn {
  cursor: not-allowed;
  opacity: .65;
  filter: alpha(opacity = 65);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.vue-form-wizard {
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }

  .wizard-nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;

    > li {
      position: relative;
      display: block;

      > a {
        position: relative;
        display: block;
        padding: 10px 15px;

        &:focus, &:hover {
          text-decoration: none;
          background-color: #eee;
        }
      }

      &.disabled > a {
        color: #777;

        &:focus, &:hover {
          color: #777;
          text-decoration: none;
          background-color: transparent;
          cursor: not-allowed;
        }
      }
    }
  }

  .wizard-progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: width .6s ease;
    transition: width 0.6s ease;
  }

  .navbar .navbar-nav > li > a.wizard-btn, .wizard-btn {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-width: 2px;
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
    padding: 6px 12px;
    min-width: 140px;
  }

  .navbar .navbar-nav > li > a.wizard-btn {
    &:focus, &:hover {
      outline: 0 ;
    }
  }

  .wizard-btn {
    &:focus, &:hover {
      outline: 0 ;
    }
  }

  .wizard-nav-pills {
    margin-top: 0;
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    a, li {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-positive: 1;
      flex-grow: 1;
    }

    > li > a, a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }

    > li {
      > a {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 0;
        margin: 0 auto;
        color: rgba(0, 0, 0, 0.2);
        position: relative;
        top: 3px;

        &:focus, &:hover {
          background-color: transparent;
          color: rgba(0, 0, 0, 0.2);
          outline: 0 ;
        }

        &.disabled {
          pointer-events: none;
          cursor: default;
        }
      }

      &.active > a {
        background-color: transparent;
        -webkit-transition: font-size .2s linear;
        transition: font-size 0.2s linear;

        &:focus, &:hover {
          background-color: transparent;
          -webkit-transition: font-size .2s linear;
          transition: font-size 0.2s linear;
        }

        .wizard-icon, &:focus .wizard-icon, &:hover .wizard-icon {
          color: #fff;
          font-size: 24px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-transition: all .2s linear;
          transition: all 0.2s linear;
        }
      }
    }
  }

  padding-bottom: 20px;

  .is_error {
    border-color: #c84513 ;

    .icon-container {
      background: #c84513 ;
    }
  }

  &.xs {
    .wizard-icon-circle {
      width: 40px;
      height: 40px;
      font-size: 16px;

      &.tab_shape {
        height: 25px;
      }
    }

    .wizard-nav-pills > li.active > a .wizard-icon {
      font-size: 16px;
    }

    .wizard-navigation .wizard-progress-with-circle {
      position: relative;
      top: 25px;
      height: 4px;
    }
  }

  &.sm {
    .wizard-icon-circle {
      width: 50px;
      height: 50px;
      font-size: 20px;

      &.tab_shape {
        height: 30px;
      }
    }

    .wizard-nav-pills > li.active > a .wizard-icon {
      font-size: 20px;
    }

    .wizard-navigation .wizard-progress-with-circle {
      position: relative;
      top: 30px;
      height: 4px;
    }
  }

  &.md {
    .wizard-icon-circle {
      width: 70px;
      height: 70px;
      font-size: 24px;

      &.tab_shape {
        height: 40px;
      }
    }

    .wizard-nav-pills > li.active > a .wizard-icon {
      font-size: 24px;
    }

    .wizard-navigation .wizard-progress-with-circle {
      position: relative;
      top: 40px;
      height: 4px;
    }
  }

  &.lg {
    .wizard-icon-circle {
      width: 90px;
      height: 90px;
      font-size: 28px;

      &.tab_shape {
        height: 50px;
      }
    }

    .wizard-nav-pills > li.active > a .wizard-icon {
      font-size: 28px;
    }

    .wizard-navigation .wizard-progress-with-circle {
      position: relative;
      top: 50px;
      height: 4px;
    }
  }

  .wizard-icon-circle {
    font-size: 18px;
    border: 3px solid #f3f2ee;
    border-radius: 50%;
    font-weight: 600;
    width: 70px;
    height: 70px;
    background-color: #fff;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;

    &.square_shape {
      border-radius: 0;
    }

    &.tab_shape {
      width: 100%;
      min-width: 100px;
      height: 40px;
      border: none;
      background-color: #f3f2ee;
      border-radius: 0;
    }

    .wizard-icon-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      border-radius: 40%;

      &.square_shape, &.tab_shape {
        border-radius: 0;
      }
    }

    .wizard-icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
  }

  .wizard-tab-content {
    min-height: 100px;
    padding: 30px 20px 10px;
  }

  .wizard-header {
    padding: 15px;
    position: relative;
    border-radius: 3px 3px 0 0;
    text-align: center;
  }

  .wizard-title {
    color: #252422;
    font-weight: 300;
    margin: 0;
    text-align: center;
  }

  .category {
    font-size: 14px;
    font-weight: 400;
    color: #9a9a9a;
    margin-bottom: 0;
    text-align: center;
  }

  .wizard-navigation .wizard-progress-with-circle {
    position: relative;
    top: 40px;
    height: 4px;

    .wizard-progress-bar {
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-transition: width .3s ease;
      transition: width 0.3s ease;
    }
  }

  .clearfix:after {
    content: "";
    clear: both;
    display: table;
  }

  .wizard-card-footer {
    padding: 0 20px;

    .wizard-footer-left {
      float: left;
    }

    .wizard-footer-right {
      float: right;
    }
  }

  &.vertical {
    .wizard-card-footer {
      display: block;
    }

    .wizard-nav-pills {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }

    .wizard-navigation {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
    }

    .wizard-card-footer {
      padding-top: 30px;
    }
  }
}

@media screen and (max-width: 350px) {
  .vue-form-wizard .wizard-card-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    .wizard-footer-left {
      float: none;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }

    .wizard-footer-right {
      float: none;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;

      button {
        margin-top: 10px;
      }
    }
  }
}

.vue-form-wizard {

	.wizard {
		&-header {
			display: none;
		}

    &-tab-container {
      background: #fafafa;
      border-color: #f4f5f8;
      color: #495057;
      border-radius: 0.5rem;
      box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
      padding: 2rem;
      margin-bottom: 10px;
    }

		&-card-footer {
			display: flex;
			justify-content: center;

			.wizard-footer-left, .wizard-footer-right {
				display: inline-block;
				float: none;
			}

			.wizard-footer-left {
				> button {
					float: left;
					margin-right: 5px;
				}
			}

			.wizard-footer-right {
				margin-left: 5px;
			}

			.wizard-btn {
				background: $dark-grey;
				border: none;
				min-width: auto;
				padding: 0.5rem 1rem;
				font-size: 1.25rem;
				font-weight: normal;
				line-height: 1.5;
				border-radius: 0.3rem;

				&.btn-secondary {
					background: $med-grey;
				}

				> * {
					color: white;
				}
			}
		}

		&-progress-bar {
			background: initial; // $color-brand
		}

		&-nav-pills {
			a {
				&:hover {
					opacity: 1;
				}
			}
		}
		&-icon {
			&-circle {
				border-color: initial; // $color-brand
				-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
				box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
				svg {
					height: 100%;
				}
				&.checked {
					background: initial;
					svg {
						color: white;
					}
				}
			}
			&-container {
				background: initial; // $color-brand
			}
		}
	}

	.stepTitle {
		color: initial; // $color-brand
	}

	.form-group {
		margin-bottom: 1.5rem;
	}

	.errors {
		position: absolute;
		margin-top: 0.1rem;
		left: 15px;
	}

	.has-error { // when multi-column has 0 padding
		&.pl-0 {
			.errors {
				left: 0;
			}
		}
	}

}