[data-gooder] {
  background: green;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  display: inline-block;
  padding: 5px 8px;
  margin: 2px 0; }

.userdetails img {
  width: 40px;
  height: 40px; }

.edit_list tr:hover {
  background-color: none; }

.edit_list tr td.main_section {
  background: none; }

.edit_list td.id_section {
  width: auto; }
