.row__seat--disabled:hover, .row__seat--inactive:hover, .row__seat--reserved:hover, .row__seat--selected:hover {
  opacity: 1 !important; }

.row__seat {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 1.5px;
  border-radius: 0 0 10px 10px;
  background: #999;
  color: white; }
  .legend .row__seat:hover {
    opacity: 1; }
  .row__seat:hover {
    opacity: 0.7; }
  .row__seat--open:hover {
    cursor: pointer; }
  .row__seat--open.tooltip {
    position: relative; }
    .row__seat--open.tooltip:after {
      opacity: 0;
      content: attr(data-tooltip);
      background: #57e683;
      border-radius: 3px;
      color: #fff;
      font-weight: bold;
      z-index: 1000;
      padding: 8px 10px;
      bottom: 100%;
      -webkit-transform: translate3d(-50%, -5px, 0);
      transform: translate3d(-50%, -5px, 0);
      position: absolute;
      left: 50%;
      bottom: 0; }
    .row__seat--open.tooltip:hover:after {
      opacity: 1;
      -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
      transition: opacity 0.3s ease, transform 0.3s ease;
      -webkit-transition-delay: 0.1s;
      transition-delay: 0.1s; }
  .row__seat--disabled {
    background: none; }
  .row__seat--inactive {
    background: #de6363; }
  .row__seat--reserved {
    background: #333333; }
  .row__seat--selected {
    background: #28a745; }

.legend {
  padding: 20px;
  border: 1px solid #999;
  display: inline-block; }
