$seat-width: 30px;
$seat-fillet: $seat-width / 3;
$seat-gap: $seat-width / 20;

%seating-state {
	&:hover {
		opacity: 1!important;
	}
}

.row {
	&__seat {
		display: inline-block;
		width: $seat-width;
		height: $seat-width;
		margin: $seat-gap;
		border-radius: 0 0 $seat-fillet $seat-fillet;
		background: #999;
		color: white;

		.legend & {
			&:hover {	
				opacity: 1;
			}
		}
		
		&:hover {
			opacity: 0.7;
		}

		&--open {
			&:hover {
				cursor: pointer;
			}

			&.tooltip {
				position: relative;
				&:after {
					opacity: 0;
					content: attr(data-tooltip);
					background: green;
					border-radius: 3px;
					color: #fff;
					font-weight: bold;
					z-index: 1000;
					position: absolute;
					left: 50%;
					bottom: 100%;
					padding: 3px;
				}
				&:hover {
					&:after {
						opacity: 1;
						-webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
						transition: opacity 0.3s ease, transform 0.3s ease;
						-webkit-transition-delay: 0.1s;
						transition-delay: 0.1s;
					}
				}
			}
		}

		&--disabled { 
			@extend %seating-state;
			background: none;
		}

		&--inactive {
			@extend %seating-state;
			background: #de6363;
		}

		&--reserved {
			@extend %seating-state;
			background: #333333;
		}

		&--selected {
			@extend %seating-state;
			background: #28a745;

		}
	}
}

.legend {
	padding: 20px; 
	border: 1px solid #999;
	display: inline-block;
}